/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

article {
    background-color: #ecdec4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #4CAF50;
}

article p {
    text-align: justify;
}

footer {
    background-color: #333;
    color: #afffb6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    position:fixed;
}
